<%= form_for(@staff) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Name *</label><br>
    <%= f.text_field :name, :class => 'form-control ', :required=> true %>
  </div>
  <div class="field">
    <label>Designation *</label><br>
    <%= f.text_field :designation , :class => 'form-control', :required=> true%>
  </div>
  <div class="field">
    <label>Address *</label><br>
    <%= f.text_area :address , :class => 'form-control', :required=> true%>
  </div>
  <div class="field">
    <label>Contact No. *</label><br>
    <%= f.text_field :contact_no , :class => 'form-control', :required=> true%>
  </div>
  <div class="field">
    <label>Email</label><br>
    <%= f.text_field :email , :class => 'form-control', :required=> true%>
  </div>
  <div class="field">
    <label>Staff Type *</label><br>
    <%= f.select(:staff_type, Staff::STAFF_TYPE) %>
  </div>
  
     <%= f.hidden_field :organization_id, :value => session[:current_organization_id] %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
