<br/>

<div class="col-md-3"></div>

	<div class="well panel-primary col-md-6">
	  	<div class="panel-heading"><center><h5>Edit Staff Detail</h5></center></div>
	  	<div class="panel-body"><br/>


			<%= render 'form' %>

			<%= link_to 'Show', @staff %> |
			<%= link_to 'Back', staffs_path %>
		</div>
	</div>		
