<div class="container">
  <div class="panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3 fs16 padding8 mlt10">
          <%= link_to "Back", home_index_path, class: "link-color" %>
          |
          <%= link_to 'New Staff', new_staff_path, class: "link-color" %>
        </div>
        <div class="col-md-6 text-center">
          <h5>List of Staffs</h5>
        </div>
      </div>
    </div> 
  </div>     
  <hr class="hr-color"/>
  <div class="horizontal_scroll vertical_scroll">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th>Address</th>
          <th>Contact no</th>
          <th>Email</th>
          <th>Staff type</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% if @staffs.present? %>
          <% @staffs.each do |staff| %>
            <tr>
              <td><%= staff.name %></td>
              <td><%= staff.designation %></td>
              <td><%= staff.address %></td>
              <td><%= staff.contact_no %></td>
              <td><%= staff.email %></td>
              <td><%= staff.staff_type %></td>
              <td><%= link_to 'Show', staff %></td>
              <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
              <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% else %>  
          <tr class="text-center">
            <td colspan="6" class="fs16"> No records to display</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
