<br/>

<div class="col-md-1"></div>

	<div class="well panel-primary col-md-6">
	  	<div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h5>Add Staff Member</h5>
          </div>
          <div class="col-md-6 padding8 text-right fs16">
            <%= link_to 'Back', home_index_path, class: "link-color mrt5" %>
          </div>
        </div> <!-- End of row -->
      </div>
	  	<div class="panel-body"><br/>
			<%= render 'form' %>
		</div>
	</div>	

	<div class="col-md-1"></div>

  <div class="well col-md-3 panel-primary">
     <div class="panel-heading"><center><h5>Quick links</h5></center></div>
      <div class="panel-body">
        <ul><br/>
          <li>
            <%= link_to 'Home', controller: "home", action: "index" , :class => 'link_color'%>
          </li><br/>
          <li>
            <%= link_to "Message Details", controller: "messages", action: "index" , :class => 'link_color'%>
            </li> <br/>
            <li>
            <%= link_to "Staff Message", controller: "messages", action: "staff_message", :class => 'link_color' %>
            </li> <br/>
            <li>
            <%= link_to "Student Message", controller: "messages", action: "new", :class => 'link_color' %>
            </li> <br/>
          <li>
            <%= link_to "Add Student", controller: "students", action: "new", :class => 'link_color' %>
            </li> <br/>
            <li>
            <%= link_to "List of Students", controller: "students", action: "index", :class => 'link_color' %>
            </li> <br/>
            <li>
            <%= link_to "Add Staff", controller: "staffs", action: "new",                   :class => 'link_color' %>
            </li> <br/>
            <li>
            <%= link_to "List of Staffs", controller: "staffs", action: "index", :class => 'link_color' %>
            </li> <br/>
        </ul>
      </div>
  </div>  	