<p id="notice"><%= notice %></p>
<br/>
<div class="col-md-2">
</div>

<div class="col-md-7">
<p><%= link_to 'Back', new_staff_path , :class => 'link_color' %> <span class="pull-right"><%= link_to 'Edit', edit_staff_path(@staff), :class => 'link_color' %></span></p>
<div class="table-responsive">
<table class="table table-hover">
<tr>
  <td><strong>Name:</strong></td>
  <td><%= @staff.name %></td>
</tr>

<tr>
  <td><strong>Designation:</strong></td>
  <td><%= @staff.designation %></td>
</tr>

<tr>
  <td><strong>Address:</strong></td>
  <td><%= @staff.address %></td>
</tr>

<tr>
  <td><strong>Contact no:</strong></td>
  <td><%= @staff.contact_no %></td>
</tr>

<tr>
  <td><strong>Email:</strong></td>
  <td><%= @staff.email %></td>
</tr>

<tr>
  <td><strong>Staff type:</strong></td>
  <td><%= @staff.staff_type %></td>
</tr>

</table>
</div>
</div>
