
<base href="http://sms.hspsms.com/">
<!-- script to populate number on the basis of class and section -->
<script>
  $(document).ready(function() {
    $('#class_name').change(function() {
      alert($("#class_name option:selected").text());
        $.ajax({
           url: "<%= update_contact_list_path %>",
           data: {
               c_name: $("#class_name option:selected").text()
           },
           dataType: "script"
        });
    });
  });
</script>
<!-- Script to send sms -->
<script>
  $(document).ready(function() {
    $('button').click(function() {
      //alert($("#class_name option:selected").text());
      alert("sending");
      var message_text = $("#message_message_text").val();
      var send_to = $("#message_sent_to").val();
      alert(message_text);
      alert(send_to);
        $.ajax({
           method: "POST",
           url: "http://sms.hspsms.com:/sendSMS?username=9039541197&message="+message_text+"&sendername=PUBLIC&smstype=PROMO&numbers="+send_to+"&apikey=791cd52b-a51e-45ee-810c-fe907902fe86",
           crossDomain: true,
           data: "",
           dataType: "json",
           xhrFields: {
              withCredentials: true
            }
        });
    });
  });
</script>

<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Dropdown to select class and section to send messages -->


  <div class="field">
    <label>Message Text *</label><br>
    <%= f.text_area :message_text, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= select_tag "class_name", options_for_select(Student::CLASS_LIST, {:id=>"class_name"}), :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :sent_to %><br>
    <div class="result_div">
      <%= f.text_field :sent_to, :class => 'form-control', :disabled => true %>
    </div>
  </div>

  <div class="msg_btn">
    <button class="btn btn-primary btn-block">Send</button>
  </div>
  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
