<p id="notice"><%= notice %></p>
<% if @staff_members.empty? %>
  <h4 align="center">No records to display</h4>
<% else %>
<h4 align="center">Listing Staffs</h4>

<table>
  <thead>
    <tr>
      <div class="all">
        <th><%= check_box_tag "contact_nos[]", @staff_members.map(&:contact_no).join(', ') %></th>
       </div>
      <th>Name</th>
      <th>Designation</th>
      
      <th>Contact no</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staff_members.each do |staff| %>
      <tr>
        <div class="single">
          <td><%= check_box_tag "contact_no[]", staff.contact_no %></td>
          </div>
        <td><%= staff.name %></td>
        <td><%= staff.designation %></td>
        
        <td><%= staff.contact_no %></td>
        
        <td><%= link_to 'Show', staff %></td>
        <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
        <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>


<script>
  /*function to put selected contacts in textbox*/
  $(document).ready(function() {
    $('[id^=contact_no_]').change(function() {
        //alert("checked");
        
        //alert(checkedValues);
        
        /*code to deselect "select all checkbox" if individual checkbox is checked*/
        $('[id^=contact_nos_]').prop('checked', ($('[id^=contact_no_]:checked').length==$('[id^=contact_no_]').length)? true : false);
        /*var checkedValues = $('input:checkbox:checked').map(function() {
                  return this.value;
              }).get().join(", ");*/
        
        if ($('[id^=contact_nos_]').prop('checked')) {
          //alert("exiting");
          /*code to check or uncheck individiual checkboxes*/
          $('[id^=contact_no_]').prop('checked', this.checked);
          var checkedValues = $('[id^=contact_nos_]').val();
            /*var checkedValues = $("input[name='contact_no[]']:checked").map(function() {
                  return this.value;
              }).get().join(", ");*/
          $('#message_sent_to').val(checkedValues);
          //return false;
        }
        else {
          //alert("inside else");
          var checkedValues = $("input[name='contact_no[]']:checked").map(function() {
                  return this.value;
              }).get().join(", ");
          $('#message_sent_to').val(checkedValues);
        }
        
        //code to count number of messages 
        var num_list = $('#message_sent_to').val().split(', ');
        var number = num_list.length;
       

    });
  });

  /*script to select all contacts*/
  $(document).ready(function() {
    $('[id^=contact_nos_]').change(function() {
        //alert("checked");
        if (!$('[id^=contact_nos_]').prop('checked')) {
            $('[id^=contact_no_]').prop('checked', false)
            var checkedValues = "";
            $('#message_sent_to').val(checkedValues);
        };
        if ($('[id^=contact_nos_]').prop('checked')) {
          //alert("exiting");
          /*code to check or uncheck individiual checkboxes*/
          $('[id^=contact_no_]').prop('checked', this.checked);
          var checkedValues = $('[id^=contact_nos_]').val();
          $('#message_sent_to').val(checkedValues);
          //return false;
        }
        //alert(checkedValues);
        /*code to check or uncheck individiual checkboxes*/
        /*$('[id^=contact_no_]').prop('checked', this.checked);
        if (this.checked) {
          var checkedValues = $('[id^=contact_nos_]').val();
        }
        else {
          var checkedValues = "";
        }
        $('#message_sent_to').val(checkedValues);*/
        //code to count number of messages 
        var num_list = $('#message_sent_to').val().split(', ');
        var number = num_list.length;
        
    });
  });

  
</script>
