
<% if @contact.empty? %>
	<center><h4>No records to display</h4></center>
<% else %>
  <center><h4>This is the list of student's contact.</h4></center>
	<table class="table table-striped">
	  <thead>
	    <tr>
	    <div class="all">
	      <th><%= check_box_tag "contact_nos[]", @contact.map(&:parents_contact_no).join(', ') %></th>
	     </div>
	      <th>Roll No.</th>
	      <th>Class</th>
	      <th>Section</th>
	      
	      <th>Father's Name</th>
	      
	      <th>Parents Contact No.</th>
	      
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @contact.each do |student| %>
	      <tr>
	      <div class="single">
	        <td><%= check_box_tag "contact_no[]", student.parents_contact_no %></td>
	        </div>
	        <td><%= student.roll_no %></td>
	        <td><%= student.class_name %></td>
	        <td><%= student.section %></td>
	        
	        <td><%= student.father_name %></td>
	        
	        <td><%= student.parents_contact_no %></td>
	      
	        <td><%= link_to 'Show', student %></td>
	        <td><%= link_to 'Edit', edit_student_path(student) %></td>
	        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>

<script>
  /*function to put selected contacts in textbox*/
  $(document).ready(function() {
    $('[id^=contact_no_]').change(function() {
        //alert("checked");
        
        //alert(checkedValues);
        
        /*code to deselect "select all checkbox" if individual checkbox is checked*/
        $('[id^=contact_nos_]').prop('checked', ($('[id^=contact_no_]:checked').length==$('[id^=contact_no_]').length)? true : false);
        /*var checkedValues = $('input:checkbox:checked').map(function() {
                  return this.value;
              }).get().join(", ");*/
        
        if ($('[id^=contact_nos_]').prop('checked')) {
          //alert("exiting");
          /*code to check or uncheck individiual checkboxes*/
          $('[id^=contact_no_]').prop('checked', this.checked);
          var checkedValues = $('[id^=contact_nos_]').val();
            /*var checkedValues = $("input[name='contact_no[]']:checked").map(function() {
                  return this.value;
              }).get().join(", ");*/
          $('#message_sent_to').val(checkedValues);
          //return false;
        }
        else {
          //alert("inside else");
          var checkedValues = $("input[name='contact_no[]']:checked").map(function() {
                  return this.value;
              }).get().join(", ");
          $('#message_sent_to').val(checkedValues);
        }
        
        //code to count number of messages 
        var num_list = $('#message_sent_to').val().split(', ');
        var number = num_list.length;

    });
  });

  /*script to select all contacts*/
  $(document).ready(function() {
    $('[id^=contact_nos_]').change(function() {
        //alert("checked");
        if (!$('[id^=contact_nos_]').prop('checked')) {
            $('[id^=contact_no_]').prop('checked', false)
            var checkedValues = "";
            $('#message_sent_to').val(checkedValues);
        };
        if ($('[id^=contact_nos_]').prop('checked')) {
          //alert("exiting");
          /*code to check or uncheck individiual checkboxes*/
          $('[id^=contact_no_]').prop('checked', this.checked);
          var checkedValues = $('[id^=contact_nos_]').val();
          $('#message_sent_to').val(checkedValues);
          //return false;
        }
        //alert(checkedValues);
        /*code to check or uncheck individiual checkboxes*/
        /*$('[id^=contact_no_]').prop('checked', this.checked);
        if (this.checked) {
          var checkedValues = $('[id^=contact_nos_]').val();
        }
        else {
          var checkedValues = "";
        }
        $('#message_sent_to').val(checkedValues);*/
        //code to count number of messages 
        var num_list = $('#message_sent_to').val().split(', ');
        var number = num_list.length;

    });
  });

  
</script>