<br/>

	<div class="col-md-1"></div>

	<div class="well panel-primary col-md-6">
	  	<div class="panel-heading"><center><h5>Edit Messages</h5></center></div>
	  	<div class="panel-body"><br/>

			<%= render 'form' %>

			<%= link_to 'Show', @message %> |
			<%= link_to 'Back', messages_path %>
		</div>
	</div>

	<div class="col-md-1"></div>

    <div class="well col-md-3 panel-primary">
     <div class="panel-heading"><center><h5>Quick links</h5></center></div>
      <div class="panel-body">
        <ul><br/>
          <li>
            <%= link_to 'Home', controller: "home", action: "index" %>
          </li><br/>
          <li>
            <%= link_to "Message Details", controller: "messages", action: "index" %>
            </li> <br/>
            <li>
            <%= link_to "Staff Message", controller: "messages", action: "staff_message" %>
            </li> <br/>
          <li>
            <%= link_to "Add Student", controller: "students", action: "new" %>
            </li> <br/>
            <li>
            <%= link_to "List of Students", controller: "students", action: "index" %>
            </li> <br/>
            <li>
            <%= link_to "Add Staff", controller: "staffs", action: "new" %>
            </li> <br/>
            <li>
            <%= link_to "List of Staffs", controller: "staffs", action: "index" %>
            </li> <br/>
        </ul>
      </div>
    </div>  		