
<% @org_msg_limit.each do |limit| %>
  <table class="table table-striped table-hover">
    <tr><th>Remaining Promotional Messages :</th><td><%= limit.promo_limit %></td><th>Remaining Transactional Messages :</th><td><%= limit.trans_limit %></td></tr>
  </table>
<% end %>
<center><h3>Listing of Messages</h3></center>
<%= link_to 'New Message', new_message_path %>  
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th style="width: 40%;">Message text</th>
      <th style="width: 15%;" class="text-center">Sent to</th>
      <th style="width: 15%;" class="text-center">SMS Type</th>
      <th style="width: 15%;" class="text-center">No. of message</th>
      <th style="width: 15%" class="text-center"> Date </th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td style="width: 40%;"><%= message.message_text %></td>
        <td style="width: 15%;" class="text-center"><%= message.sendto %></td>
        <td style="width: 15%;" class="text-center"><%= message.sms_type %></td>
        <td style="width: 15%;" class="text-center"><%= message.no_of_message %></td>
        <td style="width: 15%;" class="text-center"><%= message.created_at.to_date %></td>
        <!-- <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


