    

<br/>
<style type="text/css">
  div.tooltip-inner {
    max-width: 350px;
}

</style>
<div class="container">

  <div class="row">
    <div class="well panel-primary col-md-7">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h5>Parents Message</h5>
          </div>
          <div class="col-md-6 padding8 text-right fs16">
            <%= link_to 'Back', home_index_path, :class => "link-color mrt5" %>
          </div>
        </div>
      </div>
      <div class="panel-body"><br/>

        <%= form_for(@message) do |f| %>
          <% if @message.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

              <ul>
              <% @message.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <% unless @organization.present? %>
            <div class="danger-panel text-center"> Please <%= link_to "add organization" , new_organization_path, :class => "link-color" %> and contacts first, than you can send messages.<br></div>
          <% else %>

            <!-- Dropdown to select class and section to send messages -->
            <div class="field">
              <label>Message Text *
                (<input type="radio" name="language_type" value="English" checked /> English
                <input type="radio" name="language_type" value="Hindi" /> Hindi)
              </label>
              
              <%= f.text_area :message_text, :class => 'form-control message_text', :onkeyup => "textCounter(this,'counter',160);" %>
              <textarea id="transliterateTextarea" class="form-control transliterateTextarea" onkeyup = "textCounter(this,'counter',160);"></textarea>
              <input disabled  maxlength="3" size="3" value="160" id="counter">
            </div>
              <div class="field">
                <%= f.label :sms_type %>
                  <% if @organization.present? %>
                    <% if (@organization.promo_limit.to_i == 0) && (@organization.trans_limit.to_i >0) %>
                       <%= f.radio_button :sms_type, "TRANS", :checked=>true%>Transactional
                       <sup>
                        <a href="#" rel="tooltip" title="
                        Instructions : 
                        1. Transactional sms can be send to DND activated number.  
                        2. Transactional sms can be send at any time. "
                        <b>?</b></a>
                      </sup>
                    <% end %>
                    <% if (@organization.trans_limit.to_i == 0) && (@organization.promo_limit.to_i > 0) %>   
                      <%= f.radio_button :sms_type, "PROMO", :checked=>true %>Promotional 
                      <sup>
                        <a href="#" rel="tooltip" title="
                        Instructions :
                        1. Promotional sms can't be send to DND activated number.  
                        2. Promotional sms can be send only between 9.00AM to 9.00 PM. ">
                        <b>?</b></a>
                      </sup>
                    <% end %>
                    <% if (@organization.promo_limit.to_i > 0) && (@organization.trans_limit.to_i > 0) %>
                      <%= f.radio_button :sms_type, "TRANS", :checked=>true %>Transactional
                      <sup>
                        <a href="#" rel="tooltip" title="Instructions : 
                        1. Transactional sms can be send to DND activated number.  
                        2. Transactional sms can be send at any time.">
                        <b>?</b></a>
                      </sup>
                      <%= f.radio_button :sms_type, "PROMO" %>Promotional 
                      <sup>
                        <a href="#" rel="tooltip" title="
                        Instruction :
                        1. Promotional sms can't be sent to DND activated number.  
                        2. Promotional sms cen be send only between 9.00AM to 9.00 PM">
                        <b>?</b></a>
                      </sup>
                    <% end %>
                  <% end %>
              </div>
            <div class="field">
              <label>Class *</label>
              <%= select_tag "sendto", options_for_select(Student::CLASS_LIST, {:id=>"sendto" }), :class=> "form-control" %> <br/>
            </div>
            <div class="field">
              <label>Section * (Select None if their is no section)</label> 
              <%= select_tag "section", options_for_select(Student::SECTION_LIST, {:id=>"section"}), :class => 'form-control' %>
            </div>
            <div class="field">
              <label>Sent To *</label>
              <div class="result_div">
                <%= f.text_area :sent_to , :class => 'form-control', readonly: true %>
              </div>
            </div>
            <%= f.hidden_field :organization_id, :value => session[:current_organization_id] %>

            <div class="msg_btn ">
                <% unless @organization.present? %>
                    <div class="danger-panel text-center"> Please <%= link_to "add organization" , new_organization_path, :class => "link-color" %> and contacts first, than you can send messages.<br></div>
                <% else %>
                  <% if (@organization.promo_limit.to_i == 0) && (@organization.trans_limit.to_i == 0) %>
                    <div class="danger-panel"> Please Renew your pack to avail the facility</div> 
                  <% else %>
                      <button id="send-btn" class="btn btn-primary btn-block">Send</button>
                  <% end %>
                <% end %>
                            
            </div>
          <% end %> <!-- End of if organization not present -->
          <!-- <div class="actions">
            <%= f.submit %>
          </div> -->

        <% end %>
      </div>
    </div>  
    <div class="col-md-1"></div>

    <div class="well col-md-4 panel-primary">
       <div class="panel-heading"><center><h5>Quick links</h5></center></div>
        <div class="panel-body">
          <ul><br/>
            <li>
              <%= link_to 'Home', controller: "home", action: "index" %>
            </li><br/>
            <li>
              <%= link_to "Message Details", controller: "messages", action: "index" %>
              </li> <br/>
              <li>
              <%= link_to "Staff Message", controller: "messages", action: "staff_message" %>
              </li> <br/>
            <li>
              <%= link_to "Add Student", controller: "students", action: "new" %>
              </li> <br/>
              <li>
              <%= link_to "List of Students", controller: "students", action: "index" %>
              </li> <br/>
              <li>
              <%= link_to "Add Staff", controller: "staffs", action: "new" %>
              </li> <br/>
              <li>
              <%= link_to "List of Staffs", controller: "staffs", action: "index" %>
              </li> <br/>
          </ul>
        </div>
    </div>  
  </div>
  <div class="row">
    <div id="result_div">        
    </div>
  </div>  
<!-- script to populate list of contacts on the basis of class -->
<script>
  $(document).ready(function() {
    $('#sendto').change(function() {
        $.ajax({
           url: "<%= update_contact_list_class_path %>",
           data: {
               c_name: $("#sendto option:selected").text()
           },
           dataType: "script"
        });
    });
  });

  $(window).load(function() {

        $.ajax({
           url: "<%= update_contact_list_class_path %>",
           data: {
               c_name: $("#sendto option:selected").text()
           },
           dataType: "script"
        });

  });
</script>    

<!-- Script for Google Transliteration API. -->

<script type="text/javascript" src="https://www.google.com/jsapi"> </script>
    <script type="text/javascript">
 
        // Load the Google Transliterate API
        google.load("elements", "1", {
            packages: "transliteration"
        });
 
        function onLoad() {
            var options = {
                sourceLanguage:
                google.elements.transliteration.LanguageCode.ENGLISH,
                destinationLanguage:
                [google.elements.transliteration.LanguageCode.HINDI],
                transliterationEnabled: true
            };
 
            // Create an instance on TransliterationControl with the required
            // options.
            var control =
            new google.elements.transliteration.TransliterationControl(options);
 
            // Enable transliteration in the textbox with id
            // 'transliterateTextarea'.
            control.makeTransliteratable(['transliterateTextarea']);
        }
        google.setOnLoadCallback(onLoad);
    </script>


<!-- Script to display textarea according to language type -->

<script>
  $(function () {
    $('.message_text').show();
    $('.transliterateTextarea').hide();

    $("input[name=language_type]:radio").click(function () {

        if ($('input[name=language_type]:checked').val() == "English") {
            $('.message_text').show();

            $('.transliterateTextarea').hide();
            $('.transliterateTextarea').val(" ");

        } else if ($('input[name=language_type]:checked').val() == "Hindi") {
            $('.message_text').hide();
            $('.transliterateTextarea').show();
            $('.message_text').val(" ");
        }
    });

    $("#send-btn").click(function () {   
       msg = $('.transliterateTextarea').val();
       if (msg){
        $('.message_text').val($('.transliterateTextarea').val());
       } 
    }); 

});
</script>

<!-- script to populate list of contacts on the basis of class and section -->
<script>
  $(document).ready(function() {
    $('#section').change(function() {
        $.ajax({
           url: "<%= update_contact_list_path %>",
           data: {
               c_name: $("#sendto option:selected").text(),
               s_name: $("#section option:selected").text()
           },
           dataType: "script"
        });
    });
  });
</script>

<!-- Below function is used to validate the length of the message. -->

<script>
function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.value = maxlimit - field.value.length;
 }
}
</script>

<!-- Script to check the contact no selected should not exceed limit -->
<script type="text/javascript">
var $message_sent_to = $("#message_sent_to");
$message_sent_to.data("value", $message_sent_to.val());

setInterval(function() {
    var data = $message_sent_to.data("value"),
        val = $message_sent_to.val();

    if (data !== val) {
        $message_sent_to.data("value", val);
        var trans_radio = document.getElementById("message_sms_type_trans");
        var promo_radio = document.getElementById("message_sms_type_promo");
        //splitting and counting contacts on the basis of comma
        var contacts_count = $('#message_sent_to').val().split(",").length;
        var promo_msg_limit = "<%= @organization.promo_limit %>";
        var trans_msg_limit = "<%= @organization.trans_limit %>";
        //alert(promo_msg_limit);
        //alert(trans_msg_limit);
        //alert(contacts_count);
        if (trans_radio.checked){
            //alert("radio1 selected");
            if (contacts_count>trans_msg_limit) {
              alert("You have "+trans_msg_limit+" transactional sms left, can not select more than "+trans_msg_limit+" contacts");
              $('#message_sent_to').val("");
            };
        }else if (promo_radio.checked) {
            //alert("radio2 selected");
            if (contacts_count>promo_msg_limit) {
              alert("You have "+promo_msg_limit+" promotional sms left, can not select more than "+promo_msg_limit+" contacts");
              $('#message_sent_to').val("");
            };
        }
        
    }
}, 100);
</script>

<script>
$(document).ready(function () {
  $("a").tooltip({
    'selector': '',
    'placement': 'top',
    'container':'body'
  });
});


</script>