<p id="notice"><%= notice %></p>

<br/>	
<div class="col-md-2"></div>
<div class="well col-md-6">
	<center><h4>Message Sent Successfully.</h4></center>
	
		<h4 align="center"><%= link_to 'Back', new_message_path %></h4>
	
</div>




