<br/>

<!-- Notice if user not logged in -->
<% if flash[:notice] -%>
  <div class="alert alert-info fade in">
    <button class="close" data-dismiss="alert">×</button>
      <p class='notice' align="center">Please Sign in to continue...</p>
  </div>
<% end -%>


<div class="col-md-3"></div>

<div class="well panel-primary col-md-6">
  <div class="panel-heading"><center><h5>Log in</h5></center></div>
  <div class="panel-body"><br/>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true,:class => 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off",:class => 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", :class => 'btn btn-primary btn-block' %>
      </div>
    <% end %>    
    <center><label>OR</label></center>
    <%= render "users/shared/links" %>
  </div>
</div>