
  <%= form_for(@student) do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
        <% @student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label>Name *</label><br>
      <%= f.text_field :name, :class => 'form-control', :required=> true %>
    </div>
    <div class="field">
      <label>Enrollment No. *</label><br>
      <%= f.text_field :enrollment_no, :class => 'form-control', :required=> true %>
    </div>
    <div class="field">
      <label>Roll No. *</label><br>
      <%= f.text_field :roll_no , :class => 'form-control', :required=> true%>
    </div>
    <div class="field">
      <label>Date of Birth </label><br>
      <%= f.text_field :date_of_birth , :class => 'form-control', :placeholder => 'DD/MM/YYYY' %>
    </div>
    <div class="field">
      <label>Gender </label>
      <%= f.select(:gender, Student::GENDER_LIST) %>
      &nbsp; | &nbsp;
      <label>Class Name </label>
      <%= f.select(:class_name, ["None", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]) %>
      &nbsp; | &nbsp;
      <label>Section </label>
      <%= f.select(:section, ["None", "A", "B", "C", "D", "E"]) %>
    </div>

    <div class="field">
      <label>Address </label><br>
      <%= f.text_area :address , :class => 'form-control'%>
    </div>
    <div class="field">
      <label>Father's Name </label><br>
      <%= f.text_field :father_name , :class => 'form-control'%>
    </div>
    <div class="field">
      <label>Mother's Name </label><br>
      <%= f.text_field :mother_name, :class => 'form-control' %>
    </div>
    <div class="field">
      <label>Parent's Contact No. *</label><br>
      <div class="input-group">
        <div class="input-group-addon">+91</div>
        <%= f.text_field :parents_contact_no , :class => 'form-control', :required=> true%>
      </div> <!-- End of input group -->
    </div>
    <div class="field">
      <label>Additional Contact No.</label><br>
      <div class="input-group">
        <div class="input-group-addon">+91</div>
        <%= f.text_field :additional_contact_no, :class => 'form-control' %> 
      </div> <!-- End of input-group -->
    </div>
    <div class="field">
      <label>Parent's Email</label><br>
      <%= f.text_field :parents_email, :class => 'form-control' %>
    </div>
    <div class="field">
      <label>Student's Contact No.</label><br>
      <div class="input-group">
        <div class="input-group-addon">+91</div>
        <%= f.text_field :student_contact_no, :class => 'form-control' %>
      </div> <!-- End of input group -->
    </div>
    <div class="field">
      <%= f.label :alumni %>
      <%= f.check_box :alumni %>
    </div>
    <%= f.hidden_field :organization_id, :value => session[:current_organization_id] %>

    <div class="actions">
      <%= f.submit  :class => 'btn btn-primary btn-block form-control'%>
    </div>
  <% end %>
