<style type="text/css">

</style>

<% if @student_with_class.empty? %>
	<div class="window-center text-center well">
		<h4>No records to display</h4>
	</div>
<% else %>
	<div class="horizontal_scroll vertical_scroll">
	<table class="table table-striped table-hover">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Enrollment No.</th>
	      <th>Roll No.</th>
	      <th>Date of Birth</th>
	      <th>Gender</th>
	      <th>Class</th>
	      <th>Section</th>
	      <th>Address</th>
	      <th>Parent's Contact No.</th>
	      <th>Additional Contact No:</th>
	      <th>Parent's Email</th>
	      <th>Student's Contact No.</th>
	      <th>Alumni</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @student_with_class.each do |student| %>
	      <tr>
	        <td><%= student.name %></td>
	        <td><%= student.enrollment_no %></td>
	        <td><%= student.roll_no %></td>
	        <td><%= student.date_of_birth %></td>
	        <td><%= student.gender %></td>
	        <td><%= student.class_name %></td>
	        <td><%= student.section %></td>
	        <td><%= student.address %></td>
	        <td><%= student.parents_contact_no %></td>
	        <td><%= student.additional_contact_no %></td>
	        <td><%= student.parents_email %></td>
	        <td><%= student.student_contact_no %></td>
	        <td><%= student.alumni %></td>
	        <td><%= link_to 'Show', student %></td>
	        <td><%= link_to 'Edit', edit_student_path(student) %></td>
	        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	</div>
<% end %>