<br/>

<div class="col-md-3"></div>

<div class="well panel-primary col-md-6">
  	<div class="panel-heading"><center><h5>Edit Student Details</h5></center></div>
  	<div class="panel-body"><br/>

		<%= render 'form' %>

		<%= link_to 'Show', @student , :class => 'link_color'%> |
		<%= link_to 'Back', students_path, :class => 'link_color' %>

	</div>
</div>	