<div class="container">
  <div class="panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3 fs16 padding8">
          <%= link_to "Back", home_index_path, class: "link-color" %>
          |
          <%= link_to 'Add New Student', new_student_path, class: "link-color" %>
        </div>
        <div class="col-md-4 text-center">
          <h5>List of Students</h5>
        </div>
        <div class="col-md-5">
          <div class="row pdt7">
            <div class="col-md-6">
              <label>Class :</label>
              <%= select_tag "class_name", options_for_select(Student::CLASS_LIST), {:class=>"select-box"} %>
            </div>
            <div class="col-md-6">
              <label>Section :</label>
              <%= select_tag "section", options_for_select(Student::SECTION_LIST), {:class=>'select-box'} %>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div id="result_div">
    <div class="window-center text-center well">
      <h4>Select class and section to see the record</h4>
    </div>
  </div>
</div>  

<script>
  $(document).ready(function() {
    $('#section').change(function() {
        $.ajax({
           url: "<%= update_student_list_path %>",
           data: {
               c_name: $("#class_name option:selected").text(),
               s_name: $("#section option:selected").text()
           },
           dataType: "script"
        });
    });
  });

  $(window).load(function() {
        $.ajax({
           url: "<%= update_student_list_path %>",
           data: {
               c_name: $("#class_name option:selected").text(),
               s_name: $("#section option:selected").text()
           },
           dataType: "script"
        });
  });
</script>
<script>
  $(document).ready(function() {
    $('#class_name').change(function() {
        $.ajax({
           url: "<%= update_student_list_class_path %>",
           data: {
               c_name: $("#class_name option:selected").text()
           },
           dataType: "script"
        });
    });
  });
</script>




