<br/>

<div class="col-md-1"></div>

	<div class="well panel-primary col-md-6">
	  	<div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h5>Students Registration</h5>
          </div>
          <div class="col-md-6 padding8 text-right fs16">
            <%= link_to 'Back', home_index_path, class: "link-color mrt5" %>
          </div>
        </div>
      </div>
	  	<div class="panel-body"><br/>
			<%= render 'form' %>
		</div>	
	</div>
	
	<div class=" col-md-4">
		<div class="well panel-primary">
		<div class="panel-heading"><center><h5>Import Student's List</h5></center></div>
	  	<div class="panel-body"><br/>
      <p><strong>Instructions:</strong></p>
      <ul>
        <li>Follow the instruction strictly.</li>
        <li>Format supported - csv, xlsx and xls.</li>
        <li>Before importing the CSV file check the <b> <%= link_to "Sample", "/data/student.csv", class: "link-underline" %> </b> and import it accordingly.</li>
        <li>Before importing the Excel file check the <b> <%= link_to "Sample", "/data/student.xlsx", class: "link-underline" %> </b>  and import it accordingly. </li>
        <li>Don't use comma in the address.</li>
      </ul><br/>
			<%= form_tag import_students_path, multipart: true do %>
				<%= file_field_tag :file , :required=> true%> <br/>
				<%= submit_tag "Import" , :class => "btn btn-primary btn-block" %>
			<% end %>	
		</div>
		</div>
		<br/> <br/>
  <div class="well  panel-primary">
     <div class="panel-heading"><center><h5>Quick links</h5></center></div>
      <div class="panel-body">
        <ul><br/>
          <li>
            <%= link_to 'Home', controller: "home", action: "index" %>
          </li><br/>
          <li>
            <%= link_to "Message Details", controller: "messages", action: "index" %>
            </li> <br/>
            <li>
            <%= link_to "Staff Message", controller: "messages", action: "staff_message" %>
            </li> <br/>
            <li>
            <%= link_to "Student Message", controller: "messages", action: "new" %>
            </li> <br/>
            <li>
            <%= link_to "List of Students", controller: "students", action: "index" %>
            </li> <br/>
            <li>
            <%= link_to "Add Staff", controller: "staffs", action: "new" %>
            </li> <br/>
            <li>
            <%= link_to "List of Staffs", controller: "staffs", action: "index" %>
            </li> <br/>
        </ul>
      </div>
  </div> 

</div>