<p id="notice"><%= notice %></p>
<br/>
<div class="col-md-2">
</div>

<div class="col-md-7">
<p><%= link_to 'Back', new_student_path %> <span class="pull-right"><%= link_to 'Edit', edit_student_path(@student) %> </span></p>
<div class="table-responsive">
<table class="table table-hover">
<tr>
  <td><strong>Name:</strong></td>
  <td><%= @student.name %></td>
</tr>

<tr>
  <td><strong>Enrollment no:</strong></td>
  <td><%= @student.enrollment_no %></td>
</tr>

<tr>
  <td><strong>Roll no:</strong></td>
  <td><%= @student.roll_no %></td>
</tr>

<tr>
  <td><strong>Date of Birth:</strong></td>
  <td><%= @student.date_of_birth %></td>
</tr>

<tr>
  <td><strong>Gender:</strong></td>
  <td><%= @student.gender %></td>
</tr>

<tr>
  <td><strong>Class:</strong></td>
  <td><%= @student.class_name %></td>
</tr>

<tr>
  <td><strong>Section:</strong></td>
  <td><%= @student.section %></td>
</tr>

<tr>
  <td><strong>Address:</strong></td>
  <td><%= @student.address %></td>
</tr>

<tr>
  <td><strong>Father name:</strong></td>
  <td><%= @student.father_name %></td>
</tr>

<tr>
  <td><strong>Mother name:</strong></td>
  <td><%= @student.mother_name %></td>
</tr>

<tr>
  <td><strong>Parents contact no:</strong></td>
  <td><%= @student.parents_contact_no %></td>
</tr>

<tr>
  <td><strong>Additional contact no:</strong></td>
  <td><%= @student.additional_contact_no %></td>
</tr>

<tr>
  <td><strong>Parents email:</strong></td>
  <td><%= @student.parents_email %></td>
</tr>

<tr>
  <td><strong>Student contact no:</strong></td>
  <td><%= @student.student_contact_no %></td>
</tr>

<tr>
  <td><strong>Alumni:</strong></td>
  <td><%= @student.alumni %></td>
</tr>
</table>
</div>
</div>