// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.bhoechie-tab-container{
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	border-radius:4px;
	-moz-border-radius: 4px;
	border: 1px solid #ddd;
	margin-top: 20px;
	margin-left: 0px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}

div.bhoechie-tab-menu{
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group{
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a{
	margin-bottom: 0;
}

div.bhobhoechie-tab div.list-group>a .glyphicon,
div.bhobhoechie-tab div.list-group>a .fa{
	color: #2C3E50;
}

div.bhoechie-tab-menu div.list-group>a:first-child{
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child{
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
	background-color: #2C3E50;
	background-image: #2C3E50; 
	color: #ffffff
}

div.bhoechie-tab-menu div.list-group>a.active:after{
	content: '';
	position: absolute;
	left: 100%;
	top:50%; 
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #2C3E50; 	
}

div.bhoechie-tab-content{
	background-color: #ffffff;
	padding-left: 20px;
	padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
	display: none;
}

hr.hr-color{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #2C3E50;
    border-style: solid none;
    border-width: 1px 0;
    margin-top: 18px ;
}


.form-group .required .control-label:after {
  content:"*";color:red;
}
