/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.horizontal_scroll{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}
.vertical_scroll{
  overflow-y: scroll;
  height: 60%;
  width: 89%;
  position: absolute;
}

.link_color{
  color: #000000;
}

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

