 .danger-panel{
    padding: 12px;
    background-color: #fb441b;
    color: white;
    border-radius: 4px;
    margin-bottom: 5px;
}

.link-color, .link-color:hover, .link-color:active, .link-color:focus{
	color: white;
    text-decoration: underline;
}

.link-underline{
	text-decoration: underline;
	cursor: pointer;
}

.red{
	color: red;
}

.fs16{
	font-size: 16px;
}

.padding8{
	padding: 8px;
}

.mrt5{
	margin-right: 5px;
}

.mlt10{
	margin-left: 10px;
}

.pdt7{
	padding-top: 7px;
}

.select-box{
	width: 70%;
    height: 25px;
    color: #2c3e50;
}

.window-center{
	width: 50%;
	top: 30%;
    left: 26%;
    position: absolute;
}