<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Registration No. *</label>
    <%= f.text_field :registration_no, :class => 'form-control', :required => true %>
  </div>
  <div class="field">
    <label>Owner Name *</label><br>
    <%= f.text_field :owner_name , :class => 'form-control', :required => true%>
  </div>
  <div class="field">
    <label>Organization Name *</label><br>
    <%= f.text_field :organization_name, :class => 'form-control', :required => true %>
  </div>
  <div class="field">
    <label>Address *</label><br>
    <%= f.text_area :address, :class => 'form-control', :required => true %>
  </div>
  <div class="field">
    <label>Contact No. *</label><br>
    <div class="input-group">
      <div class="input-group-addon">+91</div>
      <%= f.text_field :contact_no, :class => 'form-control', :required => true %>
    </div>
  </div>
  <div class="field">
    <label>Additional Contact No. (optional) </label><br>
    <div class="input-group">
      <div class="input-group-addon">+91</div>
      <%= f.text_field :additional_contact_no, :class => 'form-control' %>
    </div>
  </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :promo_limit%>
    <%= f.hidden_field :trans_limit%>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary btn-block form-control'%>
  </div>
<% end %>
