<br/>

	<div class="col-md-3"></div>

	<div class="well panel-primary col-md-6">
	  	<div class="panel-heading">
	  		<div class="row">
			  	<div class="col-md-6">
			  		<h5>Edit Organization</h5>
			  	</div>
			  	<div class="col-md-6 padding8 text-right">
			  		<%= link_to 'Show', @organization, class: "link-color" %> |
					<%= link_to "Home", home_index_path, class: "link-color mrt5" %>
			  	</div>
			</div>  <!-- End of row -->
	  	</div>
	  	<div class="panel-body"><br/>

			<%= render 'form' %>

		</div>
	</div>		
