<p id="notice"><%= notice %></p>

<h1>Listing Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Registration no</th>
      <th>Owner name</th>
      <th>Organization name</th>
      <th>Address</th>
      <th>Contact no</th>
      <th>Additional contact no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.registration_no %></td>
        <td><%= organization.owner_name %></td>
        <td><%= organization.organization_name %></td>
        <td><%= organization.address %></td>
        <td><%= organization.contact_no %></td>
        <td><%= organization.additional_contact_no %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


