
<br/>

<div class="col-md-3"></div>

	<div class="well panel-primary col-md-6">
	  	<div class="panel-heading">
		  	<div class="row">
		  		<div class="col-md-6">
		  			<h5>Add Organization</h5>
		  		</div>
		  		<div class="col-md-6 padding8 text-right fs16">
		  		<%= link_to 'Back', home_index_path, class: "link-color mrt5" %>
		  		</div>
		  	</div>
	  	</div>
	  	<div class="panel-body"><br/>
			<%= render 'form' %>
		</div>
	</div>	

		