  <p id="notice"><%= notice %></p>
  <br/>
  <div class="col-md-2">
  </div>
  <div class="col-md-7">
    <div class="well">
      <span>
        <strong>
          <%= @organization.organization_name %>
        </strong>
      </span>
      <span class="pull-right">
        <%= link_to "Home", home_index_path, class: "link-underline" %>
         &nbsp; | &nbsp;
        <%= link_to 'Edit', edit_organization_path(@organization), class: "link-underline" %>
      </span>
    </div> <!-- End of row -->
    <div class="table-responsive">
    <table class="table table-striped well">

    <tr>
      <td><strong>Registration no:</strong></td>
      <td><%= @organization.registration_no %></td>
    </tr>

    <tr>
      <td><strong>Owner name:</strong></td>
      <td><%= @organization.owner_name %></td>
    </tr>

    <tr>
      <td><strong>Organization name:</strong></td>
      <td><%= @organization.organization_name %></td>
    </tr>

    <tr>
      <td><strong>Address:</strong></td>
      <td><%= @organization.address %></td>
    </tr>

    <tr>
      <td><strong>Contact no:</strong></td>
      <td><%= @organization.contact_no %></td>
    </tr>

    <tr>
      <td><strong>Additional contact no:</strong></td>
      <td><%= @organization.additional_contact_no %></td>
    </tr>

    </table>
  </div>
</div>




