<!DOCTYPE html>
<html>
<head>
  <title>TransInfo</title>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  	    <style type="text/css">
        html, body {
              height: 100%;
              /* The html and body elements cannot have any padding or margin. */
            }

            /* Wrapper for page content to push down footer */
            #wrap {
              min-height: 100%;
              height: auto;
              /* Negative indent footer by its height */
              margin: 0 auto -60px;
              /* Pad bottom by footer height */
              padding: 0 0 60px;
              overflow: hidden;
            }

            /* Set the fixed height of the footer here */
            #footer {
              height: 60px;
              background-color: #F8F8F8;
              border-color: #E7E7E7;              
            }
            
    </style>
  	<%= stylesheet_link_tag    'application', media: 'all' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
</head>
<div id="wrap">
 <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                <%= link_to "Trans-Info", home_index_path, :class => 'navbar-link' %>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <% if user_signed_in? %>
                <br>
                      <div class="navbar-link">Logged in as <strong><%= current_user.email %></strong>
                      <br>
                       </div>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                <% else %>
                      <%=  link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                <% end %>
                <br>
                  
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- Content -->
<%= yield %>
<!-- Footer -->
</div>
<footer class="text-center">
	<div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; TransInfo 2015</span>
                </div>
                <div class="col-md-4">
                    <!-- <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

       <!-- Footer -->
    <!-- <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                    <div class="footer-col col-md-4">
                        
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Customer Support</h3>
                        <p>Contact No. (+91)9977XXXX00</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
    </footer> -->
</html>
