<br/>

<div class="col-md-3"></div>

<div class="well panel-primary col-md-6">
  <div class="panel-heading"><center><h5>Registration</h3></center></div>
  <div class="panel-body"><br/>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" , :class => 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => "btn btn-primary btn-block" %>
      
    </div>
  <% end %>
<center><label>OR</label></center>
  <%= render "users/shared/links" %>

  </div>
</div>